

.hide {
    display: none;
    padding : 5px;
}

div.advancedOptions {
  display:inline-block;
  -webkit-appearance:button;
  padding:3px 8px 3px 8px;
  font-size:13px;
  position:relative;
  cursor:context-menu;
}
